In [1]:
import anndata as ad
import pandas as pd
import numpy as np
from normalize import *
from outliers import *
from test_model import test_model_from_scratch

ROSMAP_PATH = 'ROSMAP_clinical.csv'
CT_COUNTS_META_PATH = 'ct_counts_public_meta.h5ad'

ROSMAP_data = pd.read_csv(ROSMAP_PATH)
ct_counts_metadata = ad.read_h5ad(CT_COUNTS_META_PATH)

ROSMAP_data = ROSMAP_data.convert_dtypes()
ct_counts_metadata.obs = ct_counts_metadata.obs.convert_dtypes()

In [2]:
calculate_ct_per_median(ct_counts_metadata, 'Exc RELN CHD7', column_name='RELN_metric')
ct_counts_metadata = remove_outliers(ct_counts_metadata, 'RELN_metric', np.percentile(ct_counts_metadata.obs['RELN_metric'], 97))

res: list[tuple[pd.DataFrame, str]] = []
for norm_func, layer in [(normalize_l1, 'l1'),
                         (normalize_l2, 'l2'),
                         (normalize_minmax, 'minmax'),
                         (normalize_robust, 'robust'),
                         (normalize_tmm, 'tmm'),
                         (normalize_mrn, 'mrn')]:
    res.append((test_model_from_scratch(ct_counts_metadata, norm_func, layer), layer))
    res[-1][0].style.set_caption(layer)

/home/jacob/Documents/BEP/bsc-thesis-scripts/outliers.py:38: RuntimeWarning: invalid value encountered in scalar divide
  cpm = ct_count / avg_metric
/home/jacob/Documents/BEP/bsc-thesis-scripts/outliers.py:38: RuntimeWarning: divide by zero encountered in scalar divide
  cpm = ct_count / avg_metric
/home/jacob/Documents/BEP/bsc-thesis-scripts/normalize.py:15: ImplicitModificationWarning: Setting element `.layers['l1']` of view, initializing view as actual.
  adata.layers[layer_name] = adata.X.copy()

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

In [3]:
for df, layer in res:
    print(layer)
    display(df)

l1

            1         2         3         4         5       avg
acc  0.496898  0.490695  0.500310  0.474528  0.461538  0.484794
prc  0.479167  0.477477  0.500833  0.448864  0.307692  0.442807
rec  0.496898  0.490695  0.500310  0.474528  0.461538  0.484794
f1   0.408200  0.440079  0.447002  0.433171  0.369231  0.419536

l2

            1         2         3         4         5       avg
acc  0.497208  0.535980  0.477667  0.507862  0.557051  0.515154
prc  0.494318  0.556863  0.407692  0.513736  0.731169  0.540756
rec  0.497208  0.535980  0.477667  0.507862  0.557051  0.515154
f1   0.458141  0.518841  0.397009  0.482133  0.509635  0.473152

minmax

            1         2         3         4         5       avg
acc  0.516439  0.500620  0.506824  0.507862  0.530769  0.512503
prc  0.539790  0.500933  0.515068  0.513736  0.624675  0.538841
rec  0.516439  0.500620  0.506824  0.507862  0.530769  0.512503
f1   0.473016  0.480601  0.465561  0.482133  0.473311  0.474924

robust

            1         2         3         4         5       avg
acc  0.474566  0.526055  0.493797  0.517296  0.497436  0.501830
prc  0.431667  0.570000  0.478355  0.532277  0.483122  0.499084
rec  0.474566  0.526055  0.493797  0.517296  0.497436  0.501830
f1   0.413487  0.480517  0.426147  0.490015  0.411982  0.444430

tmm

            1         2         3         4         5       avg
acc  0.484181  0.493797  0.532258  0.541195  0.554487  0.521184
prc  0.452068  0.478355  0.820988  0.564216  0.643581  0.591841
rec  0.484181  0.493797  0.532258  0.541195  0.554487  0.521184
f1   0.419819  0.426147  0.451584  0.527456  0.520468  0.469095

mrn

            1         2         3         4         5       avg
acc  0.496898  0.509926  0.493797  0.495597  0.487821  0.496808
prc  0.479167  0.530075  0.478355  0.484848  0.439103  0.482310
rec  0.496898  0.509926  0.493797  0.495597  0.487821  0.496808
f1   0.408200  0.453947  0.426147  0.432479  0.406335  0.425422