In [1]:
import anndata as ad
import pandas as pd
import numpy as np
from normalize import *
from outliers import *
from test_model import test_model_from_scratch

ROSMAP_PATH = 'ROSMAP_clinical.csv'
CT_COUNTS_META_PATH = 'ct_counts_public_meta.h5ad'

ROSMAP_data = pd.read_csv(ROSMAP_PATH)
ct_counts_metadata = ad.read_h5ad(CT_COUNTS_META_PATH)

ROSMAP_data = ROSMAP_data.convert_dtypes()
ct_counts_metadata.obs = ct_counts_metadata.obs.convert_dtypes()

In [2]:
calculate_ct_per_median(ct_counts_metadata, 'Exc RELN CHD7', column_name='RELN_metric')
ct_counts_metadata = remove_outliers(ct_counts_metadata, 'RELN_metric', np.percentile(ct_counts_metadata.obs['RELN_metric'], 97))

res: list[pd.DataFrame] = []
for norm_func, layer in [(normalize_l1, 'l1'),
                         (normalize_l2, 'l2'),
                         (normalize_minmax, 'minmax'),
                         (normalize_robust, 'robust'),
                         (normalize_tmm, 'tmm'),
                         (normalize_mrn, 'mrn')]:
    res.append(test_model_from_scratch(ct_counts_metadata, norm_func, layer))
    res[-1].style.set_caption(layer)

/home/jacob/Documents/BEP/bsc-thesis-scripts/outliers.py:38: RuntimeWarning: invalid value encountered in scalar divide
  cpm = ct_count / avg_metric
/home/jacob/Documents/BEP/bsc-thesis-scripts/outliers.py:38: RuntimeWarning: divide by zero encountered in scalar divide
  cpm = ct_count / avg_metric
/home/jacob/Documents/BEP/bsc-thesis-scripts/normalize.py:15: ImplicitModificationWarning: Setting element `.layers['l1']` of view, initializing view as actual.
  adata.layers[layer_name] = adata.X.copy()

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

Starting iteration 1...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 2...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 3...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 4...
	X_train.shape=(331, 54)
	y_train.shape=(331,)
Training model... testing model... complete!

Starting iteration 5...
	X_train.shape=(332, 54)
	y_train.shape=(332,)
Training model... testing model... complete!

In [3]:
for df in res:
    display(df)

            1         2         3         4         5       avg
acc  0.487283  0.484181  0.477667  0.510063  0.523718  0.496582
prc  0.435127  0.452068  0.407692  0.521918  0.656118  0.494585
rec  0.487283  0.484181  0.477667  0.510063  0.523718  0.496582
f1   0.402617  0.419819  0.397009  0.473016  0.449919  0.428476

            1         2         3         4         5       avg
acc  0.503722  0.503722  0.448821  0.517296  0.525641  0.499840
prc  0.506593  0.506593  0.362500  0.532277  0.551216  0.491836
rec  0.503722  0.503722  0.448821  0.517296  0.525641  0.499840
f1   0.474292  0.474292  0.379972  0.490015  0.495935  0.462901

            1         2         3         4         5       avg
acc  0.500620  0.516749  0.590571  0.517296  0.487821  0.522611
prc  0.500933  0.524064  0.671362  0.532277  0.439103  0.533548
rec  0.500620  0.516749  0.590571  0.517296  0.487821  0.522611
f1   0.480601  0.501766  0.576290  0.490015  0.406335  0.491001

            1         2         3         4         5       avg
acc  0.493797  0.497208  0.493797  0.519497  0.504487  0.501757
prc  0.478355  0.494318  0.478355  0.546547  0.518182  0.503151
rec  0.493797  0.497208  0.493797  0.519497  0.504487  0.501757
f1   0.426147  0.458141  0.426147  0.480517  0.436988  0.445588

            1         2         3         4         5       avg
acc  0.487283  0.493797  0.506514  0.524528  0.554487  0.513322
prc  0.435127  0.478355  0.564815  0.540373  0.643581  0.532450
rec  0.487283  0.493797  0.506514  0.524528  0.554487  0.513322
f1   0.402617  0.426147  0.413762  0.505216  0.520468  0.453642

            1         2         3         4         5       avg
acc  0.538772  0.503412  0.487283  0.502830  0.523718  0.511203
prc  0.697785  0.514103  0.435127  0.507500  0.656118  0.562126
rec  0.538772  0.503412  0.487283  0.502830  0.523718  0.511203
f1   0.475027  0.432479  0.402617  0.453947  0.449919  0.442798